div.VIpgJd-TUo6Hb.XKSfm-L9AdLc.eo9XGd
{   
    color: #e8eaed;
    direction: ltr;
    font-family: "Roboto",arial,sans-serif;
    font-size: 15px;
    background: #235678;
    background-clip: padding-box;
    outline: 0;
    background-color: transparent;
    border: 1px solid;
    box-shadow: none;
    padding: 16px;
    position: fixed;
    z-index: 4001;
    opacity: 1;
    transition: top .13s;
    left: 360.5px;
    top: 103.95px;
}

/* 
Link to implementation


*/